.additional-info__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.additional-info__item {
  padding-bottom: 25px;
  border-bottom: 1px solid #CDCDCD;
}

.additional-info__item--border{
  border-top: 1px solid #CDCDCD;
}

.additional-info__container {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.additional-info__title {
  font-style: normal;
  font-weight: normal;
  position: relative;
  display: inline-flex;
  margin: 0px;
  padding-top: 58px;
  padding-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}


.additional-info__title::after{
  content: "";
  position: absolute;
  top: 73px;
  left: calc(100% + 21px);
  width: 16vw;
  height: 2px;
  background-color: #68b738;

}

.additional-info__item-title {
  font-style: normal;
  font-weight: normal;
  margin-top: 13px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional-info__description,
.additional-info__price {
  font-family: $font-second;
  margin: 0px;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-info__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #68B738;
  color: #FFFFFF;
  width: 280px;
  height: 40px;
  padding: 11px 109px 5px 109px;
    // padding: 10px 109px 10px 109px;
}

@media (min-width:$tablet-width) {
  .additional-info__list{
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
  }

  .additional-info__container {
    padding-top: 15px;
    padding-right: 38px;
  }

  .additional-info__title{
    padding-left: 35px;
  }

  .additional-info__title::after{
    top: 38px;
    left: calc(100% + 17px);
    width: 56vw;
  }

  .additional-info__title::before{
    content: "";
    position: absolute;
    top: 38px;
    right: calc(100% + 5px);
    width: 100vw;
    height: 3px;
    background-color: #68b738;

  }

  .additional-info__item-title{
    padding-left: 38px;
  }

  .additional-info__button {
    text-align: center;
    width: 400px;
    height: 26px;
    padding: 6px 220px 6px 220px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .additional-info__description {
    padding-right: 49px;
  }

  .additional-info__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }




}

@media (min-width:$desktop-width) {
  .additional-info__list {
    border: none;
    width: 895px;
  }
  .additional-info__item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 0px;
  }

  .additional-info__title{
    padding-left: 0px;
  }

  .additional-info__item-title{
    padding-left: 0px;
  }
  .additional-info__title::after{
    top: 38px;
    left: calc(100% + 17px);
    width: 73vw;
  }

  .additional-info__price{
    padding-right: 20px;
  }

  .additional-info__button {
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 7px 26px 7px 26px;
    width: 244px;
  }

  .additional-info__block {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
  }
}
