
.additional-info__list{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.additional-info__title{
 font-size: 24px;
 line-height: 24px;
 color: #000000;
}

.additional-info__item-title{
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional-info__description,
.additional-info__price{
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}


.additional-info__button{
  text-transform: uppercase;
  background-color: #68B738;
  color: #FFFFFF;
  padding: 7px 44px 7px 44px;
}

@media (min-width:$tablet-width){
  .additional-info__button{

     /*flex-grow: 1;*/
     padding: 6px 220px 6px 220px;
  }

  .additional-info__item{
    display: flex;
    flex-wrap: wrap;
  }

  .additional-info__price{

  }

  .additional-info__item-title{
    padding-right: 244px;
  }
}
