.composition {
  margin-bottom: 50px;
}

.composition__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 44px;
}

.composition__item-description {
  width: 200px;
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-left: 80px;
  margin: 0;
  margin-bottom: 25px;
}

.composition__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.composition__item--benefit {
  position: relative;
  background-image: none;
}

.composition__item--benefit::before {
  position: absolute;
  top: -5px;
  left: 0;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/composition-img1.svg");
  background-repeat: no-repeat;
}

.composition__item--simply {
  position: relative;
  background-image: none;
}

.composition__item--simply::before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/composition-img2.svg");
  background-repeat: no-repeat;
}

.composition__item--functionality {
  position: relative;
  background-image: none;
}

.composition__item--functionality::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/composition-img3.svg");
  background-repeat: no-repeat;
}

.composition__item--result {
  position: relative;
  background-image: none;
}

.composition__item--result::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/composition-img4.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .composition {
    margin: 0;
  }

  .composition__title {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-top: 47px;
    padding-left: 0px;
    margin-bottom: 68px;
  }

  .composition__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .composition__item {
    position: relative;
    width: 324px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 105px;
  }

  .composition__item-description {
    font-size: 16px;
    line-height: 24px;
    width: 250px;
    padding: 96px 0 0 0px;
  }

  .composition__item--benefit {
    position: relative;
    background-image: none;
  }

  .composition__item--benefit::before {
    position: absolute;
    top: 4px;
    left: -1px;
    content: "";
    width: 80px;
    height: 80px;
    background-image: url("../img/icon-benefit-tablet.svg");
    background-repeat: no-repeat;
  }

  .composition__item--1 {
    position: relative;
  }

  .composition__item--1::after {
    position: absolute;
    top: -35px;
    right: 94px;
    content: "1";
    width: 112px;
    height: 280px;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }

  .composition__item--simply {
    position: relative;
    background-image: none;
  }

  .composition__item--simply::before {
    position: absolute;
    top: 4px;
    left: 0px;
    content: "";
    width: 80px;
    height: 80px;
    background-image: url("../img/icon-simply-tablet.svg");
    background-repeat: no-repeat;
  }

  .composition__item--2 {
    position: relative;
  }

  .composition__item--2::after {
    position: absolute;
    top: -35px;
    right: 101px;
    content: "2";
    width: 112px;
    height: 280px;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }

  .composition__item--functionality {
    background-image: none;
    position: relative;
  }

  .composition__item--functionality::before {
    position: absolute;
    top: 4px;
    left: -1px;
    content: "";
    width: 80px;
    height: 80px;
    background-image: url("../img/icon-functionality-tablet.svg");
    background-repeat: no-repeat;
  }

  .composition__item--3 {
    position: relative;
  }

  .composition__item--3::after {
    position: absolute;
    top: -35px;
    right: 99px;
    content: "3";
    width: 112px;
    height: 280px;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }

  .composition__item--result {
    background-image: none;
    position: relative;
  }

  .composition__item--result::before {
    position: absolute;
    top: 4px;
    left: 0px;
    content: "";
    width: 80px;
    height: 80px;
    background-image: url("../img/icon-result-tablet.svg");
    background-repeat: no-repeat;
  }

  .composition__item--4 {
    position: relative;
  }

  .composition__item--4::after {
    position: absolute;
    top: -35px;
    right: 98px;
    content: "4";
    width: 112px;
    height: 280px;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .composition__item {
    width: 245px;
    padding-right: 50px;
    padding-bottom: 85px;
  }

  .composition__title {
    margin-top: 73px;
    padding-left: 0px;
  }

  .composition__item--benefit::before {
    left: 0px;
  }

  .composition__item--simply::before {
    left: 17px;
  }

  .composition__item--functionality::before {
    left: 33px;
  }

  .composition__item--result::before {
    left: 50px;
  }

  .composition__item-description {
    padding-left: 0px;
  }

  .composition__item-description--simply {
    padding-left: 16px;
  }

  .composition__item-description--functionality {
    padding-left: 32px;
  }

  .composition__item-description--result {
    padding-left: 49px;
  }

  .composition__item-hidden {
    display: none;
  }

  .composition__item--1::after {
    left: 119px;
  }

  .composition__item--2::after {
    left: 128px;
  }

  .composition__item--3::after {
    left: 146px;
  }

  .composition__item--4::after {
    left: 164px;
  }
}
