
.direction__item--slim,
.direction__item--large{
  background-color:#F2F2F2;
}

.direction__item{
  padding: 0px;
  margin:0px;

}

.direction__title{
 font-size: 24px;
 line-height: 37px;
}

.direction__description{
  font-family: $font-second;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.direction__link-description{
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width:$tablet-width){
  .direction__title{
    display: flex;
    font-size: 36px;
    line-height: 36px;
  }

  .direction__description{
    font-size: 16px;
    line-height: 24px;
  }

  .direction__link-description{
    font-size: 20px;
    line-height: 30px;
  }

}


@media (min-width:$desktop-width){
  .wrapper--direction{
   display: flex;
   justify-content: space-between;
 }

 .direction__item{
  width: 568px;
 }
}
