.direction__item--slim,
.direction__item--large {
  background-color: #f2f2f2;
}

.direction__item {
  padding: 0;
  margin: 0;
}

.direction__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  padding-left: 92px;
  padding-top: 30px;
  text-transform: uppercase;
}

.direction__description {
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 33px;
}

.direction__link-description {
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 19px;
  padding-bottom: 22px;
}

.direction__link-description:active,
.direction__link:active {
  opacity: 0.3;
}

.direction__img {
  position: absolute;
  top: 2px;
  width: 32px;
  height: 10px;
  left: 124px;
}

.direction__link {
  position: relative;
  border-top: 1px solid #d9d9d9;
  padding-top: 19px;
  padding-bottom: 22px;
  width: 240px;
}

.direction__item--slim {
  background-image: url("../img/direction-img1.svg");
  background-repeat: no-repeat;
  background-position: 22px 20px;
}

.direction__item--large {
  background-image: url("../img/direction-img2.svg");
  background-repeat: no-repeat;
  background-position: 15px 20px;
}

@media (min-width: $tablet-width) {
  .direction {
    margin-top: 90px;
  }

  .direction__title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    padding-top: 75px;
    padding-left: 52px;
    margin-bottom: 21px;
  }

  .direction__description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 50px;
    padding-left: 51px;
    padding-right: 33px;
    width: 377px;
  }

  .direction__link {
    padding-top: 19px;
    padding-bottom: 22px;
    width: 240px;
  }

  .direction__link-description {
    padding-left: 51px;
    padding-bottom: 55px;
    font-size: 20px;
    line-height: 30px;
  }

  .direction__description--large {
    width: 342px;
  }

  .direction__item--slim {
    background-image: url("../img/cat-back.svg");
    background-repeat: no-repeat;
    background-position: 444px 80px;
  }

  .direction__item--large {
    background-image: url("../img/cat-back2.svg");
    background-repeat: no-repeat;
    background-position: 411px 88px;
  }

  .direction__img {
    top: 9px;
    left: 196px;
    width: 32px;
    height: 10px;
  }
}

@media (min-width: $desktop-width) {
  .direction__item {
    width: 570px;
  }

  .direction__title {
    padding-top: 41px;
    padding-left: 214px;
  }

  .direction__description {
    padding-top: 53px;
    padding-left: 52px;
    padding-bottom: 27px;
    width: 467px;
  }

  .direction__link-description {
    padding-left: 53px;
  }

  .direction__item--slim {
    background-image: url("../img/direction-desk-1.svg");
    background-repeat: no-repeat;
    background-position: 52px 41px;
  }

  .direction__item--large {
    background-image: url("../img/direction-desk-2.svg");
    background-repeat: no-repeat;
    background-position: 33px 47px;
  }

  .direction__img {
    top: 9px;
    left: 196px;
  }
}
