
.form__label,
.form__input{
 font-size: 16px;
 line-height: 18px;
 text-transform: uppercase;
 color: #444444;
}


/*PURPOSE*/

.form__purpose-list{
  list-style: none;
}

.form__label-radio{
 font-size: 16px;
 line-height: 18px;
 text-transform: uppercase;
 color: #222222;
}

@media (min-width:$desktop-width){
      .form__container{
        display: flex;
      }

      .form__wrapper--profile{
        padding-right: 80px;
      }
}


/*OWNER*/

.form__owner-title{
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

@media (min-width:$desktop-width){
  .form__fieldset--owner{
    display: flex;
  }

  .form__item--email{
    padding-right: 80px;
  }
}

/*COMMENT*/

.form__comment-title{
 font-size: 24px;
 line-height: 26px;
 color: #000000;
}

.form__user{
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}


/*WITHAL*/
.form__withal-title{
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.filter-checkbox__label{
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.form__list{
  list-style: none;
}

@media (min-width:$tablet-width){
  .form__list{
    display: flex;
    flex-wrap: wrap;
  }

  .form__filter{
    display: flex;
    flex-direction: column;
    width: 284px;
    padding: 0px;
  }
}

