.form__label,
.form__input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  // justify-content: space-between;
}

.form__label {
  margin-right: 13px;
  flex-shrink: 0;
}

.form__input {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 14px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}

.form__input:hover {
  border: 1px solid #cdcdcd;
}

.form__input:active {
  border: 2px solid #444444;
}

.form__input:invalid:not(:placeholder-shown) {
  border: 2px solid #FF8282;
}

::-webkit-input-placeholder {
  color: #444444;
}

::-moz-placeholder {
  color: #444444;
}

:-ms-input-placeholder {
  color: #444444;
}

:-moz-placeholder {
  color: #444444;
}

.form__list {
  padding: 0;
  list-style: none;
}

// PROFILE
.form__fieldset--profile {
  margin-bottom: 11px;
}

.form__wrapper--profile {
  position: relative;
}

.form__wrapper--profile::after {
  content: "";
  position: absolute;
  top: 188px;
  left: -18px;
  width: 94vw;
  height: 1px;
  background-color: #e6e6e6;
}

.form__wrapper--profile::before {
  content: "";
  position: absolute;
  top: 188px;
  left: -18px;
  width: 94vw;
  height: 1px;
  background-color: #e6e6e6;
}


/*PURPOSE*/

.form__list-purpose {
  list-style: none;
  padding: 0;
  margin-top: 28px;
}

.form__fieldset--purpose {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 4px;
}

.form__item-radio {
  margin-bottom: 25px;
}

.form__label-radio {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  padding-left: 44px;
}

.form__item-radio label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  color: black;
}

.form__input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 1px;
  width: 13px;
  height: 14px;
  background-color: #68b738;
  border-radius: 50%;
}

/*OWNER*/

.form__owner-title {
  font-style: normal;
  font-weight: normal;
  position: relative;
  width: 187px;
  margin-bottom: 31px;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form__wrapper--owner {
  position: relative;
}

.form__wrapper--owner::after {
  content: "";
  position: absolute;
  top: -25px;
  left: -17px;
  width: 94vw;
  height: 1px;
  background-color: #e6e6e6;
}

.form__wrapper--owner::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -17px;
  width: 94vw;
  height: 1px;
  background-color: #e6e6e6;
}

.form__owner-title::after {
  content: "";
  position: absolute;
  top: 16px;
  left: calc(100% + 13px);
  width: 30vw;
  height: 2px;
  background-color: #68b738;
}

.form__label--email,
.form__label--phone {
  position: relative;
}

.form__label--email::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 245px;
  width: 18px;
  height: 13px;
  background-image: url("../img/mail-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form__label--phone::before {
  content: "";
  position: absolute;
  left: 246px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*COMMENT*/

.form__comment-title {
  font-style: normal;
  font-weight: normal;
  position: relative;
  width: 121px;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-top: 15px;
}

.form__comment-title::after {
  content: "";
  position: absolute;
  top: 15px;
  left: calc(100% + 17px);
  width: 48vw;
  height: 2px;
  background-color: #68b738;
}

.form__user {
  font-family: "Oswald", "Tahoma", sans-serif;
  width: 280px;
  height: 150px;
  font-size: 16px;
  line-height: 18px;
  padding-top: 22px;
  padding-left: 13px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  color: #444444;
}

/*WITHAL*/

.form__withal-title {
  font-style: normal;
  font-weight: normal;
  position: relative;
  width: 141px;
  margin-top: 30px;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form__withal-title--form {
  margin-top: 10px;
}

.form__list-withal {
  list-style: none;
  padding: 0;
}

.form__withal-title::after {
  content: "";
  position: absolute;
  top: 15px;
  left: calc(100% + 17px);
  width: 42vw;
  height: 2px;
  background-color: #68b738;
}

.form__button {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
  width: 280px;
  padding: 10px 44px;
  margin-top: 14px;
  border: none;
}

.form__submit-note {
  display: flex;
  justify-content: center;
  margin-top: 23px;
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .form__container {
    padding-left: 41px;
  }

  .form__label {
    margin-right: 17px;
    padding-top: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .form__input {
    margin-top: 0;
    padding-top: 10px;
    padding-left: 16px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__item {
    margin-bottom: 16px;
    width: 630px;
  }

  .form__fieldset--profile {
    margin-bottom: 56px;
  }

  .form__wrapper--profile::after,
  .form__wrapper--profile::before {
    display: none;
  }

  .form__label-radio {
    padding-left: 87px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__input-radio + label::before {
    left: 26px;
    top: -6px;
    width: 40px;
    height: 40px;
  }

  .form__input-radio:checked + label::after {
    left: 38px;
    top: 8px;
    width: 18px;
    height: 18px;
  }

  .form__wrapper--owner {
    padding-left: 39px;
  }

  .form__wrapper--owner::after,
  .form__wrapper--owner::before {
    display: none;
  }

  .form__wrapper--comment,
  .form__wrapper--withal {
    padding-left: 39px;
  }

  .form__list-withal--form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 138px;
  }

  .form__fieldset--purpose {
    width: 630px;
    margin: 0;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
  }

  .form__owner-title {
    margin-top: 74px;
    margin-bottom: 74px;
    width: 520px;
    font-size: 36px;
    line-height: 36px;
  }

  .form__owner-title::after {
    top: 22px;
    left: calc(98% + 32px);
    width: 17vw;
  }

  .form__label--email::before {
    left: 594px;
    top: 8px;
  }

  .form__label--phone::before {
    left: 594px;
    top: 7px;
  }

  .form__comment-title {
    margin-top: 48px;
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }

  .form__comment-title::after {
    top: 22px;
    left: calc(100% + 96px);
    width: 60vw;
  }

  .form__withal-title::after {
    top: 22px;
    left: calc(99% + 110px);
    width: 56vw;
  }

  .form__owner-title::before {
    content: "";
    position: absolute;
    top: 22px;
    right: calc(100% + 40px);
    width: 4vw;
    height: 2px;
    background-color: #68b738;
  }

  .form__comment-title::before {
    content: "";
    position: absolute;
    top: 22px;
    right: calc(100% + 40px);
    width: 4vw;
    height: 2px;
    background-color: #68b738;
  }

  .form__withal-title--form {
    font-family: "Oswald", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin-top: 66px;
    margin-bottom: 49px;
  }

  .form__withal-title::before {
    content: "";
    position: absolute;
    top: 22px;
    right: calc(100% + 40px);
    width: 4vw;
    height: 2px;
    background-color: #68b738;
  }

  .form__user {
    font-size: 20px;
    line-height: 30px;
    padding-top: 9px;
    padding-left: 16px;
    width: 631px;
    height: 159px;
  }

  .form__filter {
    display: flex;
    margin-bottom: 40px;
    padding: 0;
  }

  .form__send {
    display: flex;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 31px;
  }

  .form__send-button {
    margin-left: 42px;
  }

  .form__button {
    font-size: 20px;
    padding: 17px 45px;
    margin: 0 62px 0 0;
  }

  .form__submit-note {
    margin-top: 18px;
    font-family: "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-gap: 80px;
    padding: 0;
    padding-left: 0px;
  }

  .form__item {
    width: 570px;
  }

  .form__label {
    margin-right: 22px;
    padding-top: 0;
  }

  .form__owner-title {
    margin-top: -5px;
  }

  .form__wrapper--owner,
  .form__wrapper--comment,
  .form__wrapper--withal {
    padding-left: 0px;
  }

  .form__fieldset--purpose {
    width: 570px;
  }

  .form__wrapper--profile {
    padding-right: 80px;
  }

  .form__fieldset--owner {
    display: flex;
  }

  .form__item--email {
    padding-right: 77px;
  }

  .form__label--email::before {
    left: 532px;
    top: 7px;
  }

  .form__label--phone::before {
    left: 534px;
    top: 3px;
  }

  .form__item--email,
  .form__item--phone {
    width: 570px;
  }

  .form__list-withal--form {
    padding-right: 0;
  }

  .form__list-withal {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }

  .form__owner-title::after {
    top: 22px;
    left: calc(98% + 41px);
    width: 100vw;
  }

  .form__comment-title::after {
    top: 20px;
    left: calc(95% + 107px);
    width: 76vw;
  }

  .form__withal-title::after {
    top: 23px;
    left: calc(100% + 111px);
    width: 74vw;
  }

  .form__owner-title::before {
    top: 22px;
    right: calc(100% + 40px);
    width: 100vw;
  }

  .form__comment-title::before {
    top: 22px;
    right: calc(100% + 40px);
    width: 100vw;
  }

  .form__withal-title::before {
    top: 22px;
    right: calc(100% + 40px);
    width: 100vw;
  }

 .form__comment-title,
 .form__withal-title--form {
   margin-top: 50px;
   margin-bottom: 74px;
   font-size: 36px;
   line-height: 36px;
  }

.form__withal-title--form {
    margin-top: 69px;
    margin-bottom: 49px;
}

  .form__item--comment,
  .form__user {
    padding-top: 5px;
    width: 1220px;
  }

  .form__send {
    padding-top: 27px;
    padding-bottom: 90px;
  }

  .form__send-button {
    margin-left: 0px;
  }

  .form__button {
    font-size: 20px;
    padding: 16px 188px;
    margin-right: 82px;
    width: 568px;
  }
}
