
.form__label,
.form__input{
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__fieldset{
  padding: 0px;
  border: none;
}

.form__item{
  display: flex;
  // justify-content: space-between;
}

.form__label{
  margin-right: 13px;
  flex-shrink: 0;
  padding: 0px;
  padding-top: 30px;
}

.form__input{
  font-family: Oswald;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 14px;
  margin-top: 15px;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
}

.form__input:hover{
  border: 1px solid #CDCDCD;
}

.form__input:focus{
  border: 2px solid #444444;
}

.form__input:invalid:not(:placeholder-shown) {
  border: 2px solid #FF8282;
}

::-webkit-input-placeholder {
  color: #444444;
}
::-moz-placeholder {
  color:  #444444;
}
:-ms-input-placeholder {
  color: #444444;
}
:-moz-placeholder {
  color: #444444;
}

.form__list{
  padding: 0px;
  list-style: none;
}



// PROFILE
.form__fieldset--profile{
  margin-bottom: 14px;
}

/*PURPOSE*/
.form__list-purpose{
  list-style: none;
  padding: 0px;
  margin-top: 28px;
  margin-bottom: 0px;
}

.form__fieldset--purpose{
  border-top: 1px solid #D9D9D9;
  border-bottom:  1px solid #D9D9D9;
}


.form__item-radio{
  margin-bottom: 25px;
}

.form__label-radio{
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  padding-left: 44px;
}

.form__item-radio label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  color: black;
}

.form__input-radio+label::before {
  content: "";
  position: absolute;
  left: -3px;
  top: -8px;
  width: 28px;
  height: 28px;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
}

.form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 1px;
  width: 13px;
  height: 14px;
  background-color:  #68B738;
  border-radius: 50%;
}



/*OWNER*/

.form__owner-title{
  font-style: normal;
  font-weight: normal;
  position: relative;
  width: 187px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form__owner-title::after{
  content: "";
  position: absolute;
  top: 16px;
  left: calc(100% + 13px);
  width: 30vw;
  height: 2px;
  background-color: #68b738;
}

/*COMMENT*/

.form__comment-title{
  font-style: normal;
  font-weight: normal;
  position: relative;
  width: 121px;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-top: 15px;
}

.form__comment-title::after{
  content: "";
  position: absolute;
  top: 15px;
  left: calc(100% + 17px);
  width: 48vw;
  height: 2px;
  background-color: #68b738;
}

.form__user{
  width: 280px;
  height: 150px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}




/*WITHAL*/
.form__withal-title{
  font-style: normal;
  font-weight: normal;
  position: relative;
  width: 141px;
  margin-top: 30px;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}


.form__list-withal{
  list-style: none;
  padding: 0px;
}
.form__withal-title::after{
  content: "";
  position: absolute;
  top: 15px;
  left: calc(100% + 17px);
  width: 42vw;
  height: 2px;
  background-color: #68b738;
}

.filter-checkbox__label{
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 10px;
  color: #000000;
}
.filter-checkbox{
  position: relative;
  margin-bottom: 26px;
  padding-left: 35px;
  text-align: left;
}

.filter-checkbox__input + label::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -1px;
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
}

.filter-checkbox__input:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 18px;
  height: 14px;
  background-image: url("../img/choise.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form__list{
  list-style: none;
}

@media (min-width:$tablet-width){

  .form__fieldset--purpose{
    width: 630px;
    margin: 0px;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
  }

  .form__owner-title{
    width: 412px;
  }

  .form__owner-title::after{
    top: 10px;
    left: calc(100% + 12px);
    width: 39vw;
  }

  .form__comment-title::after{
    top: 15px;
    left: calc(100% + 12px);
    width: 77vw;
  }

  .form__withal-title::after{
    top: 15px;
    left: calc(100% + 12px);
    width: 75vw;
  }



  .form__owner-title::before{
    content: "";
    position: absolute;
    top: 15px;
    right: calc(100% + 5px);
    width: 100vw;
    height: 3px;
    background-color: #68b738;
  }

  .form__comment-title::before{
    content: "";
    position: absolute;
    top: 15px;
    right: calc(100% + 5px);
    width: 100vw;
    height: 3px;
    background-color: #68b738;
  }

  .form__withal-title::before{
    content: "";
    position: absolute;
    top: 15px;
    right: calc(100% + 5px);
    width: 100vw;
    height: 3px;
    background-color: #68b738;

  }

  .form__user{
    width: 631px;
    height: 174px;
  }

  .form__list{
    display: flex;
    flex-wrap: wrap;
  }

  .form__filter{
    display: flex;
    flex-direction: column;
    width: 284px;
    padding: 0px;
  }

  .filter-checkbox{
    padding-left: 40px;
  }
}

@media (min-width:$desktop-width){
  .form__container{
    display: grid;
    grid-template-columns: 570px 570px;
    grid-gap: 80px;
  }

  .form__fieldset--purpose{
    width: 570px;
  }

  .form__wrapper--profile{
    padding-right: 80px;
  }

  .form__fieldset--owner{
    display: flex;
  }

  .form__item--email{
    padding-right: 80px;
  }

  .form__list-withal{
    display: flex;
  }

  .form__owner-title::after{
    top: 10px;
    left: calc(100% + 12px);
    width: 63vw;
  }

  .form__comment-title::after{
    top: 15px;
    left: calc(100% + 12px);
    width: 82vw;
  }

  .form__withal-title::after{
    top: 15px;
    left: calc(100% + 12px);
    width: 81vw;
  }

  .form__user{
    width: 1220px;
  }


}
