.intro__title{
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 41px;
}

.intro__description{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

 .intro__title--form{
  margin-bottom: 35px;
 }

 .intro__description--form{
   width: 226px;
   margin-bottom: 20px;
 }


@media (min-width:$tablet-width){
  .intro{
    margin-bottom: 66px;
  }

  .intro__title{
    margin-bottom: 164px;
  }

  .intro__title--form{
    margin-bottom: 54px;
  }

  .intro__description--form{
    width: 323px;
    margin-bottom: 66px;
  }



}
