.intro__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 41px;
}

.intro__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.intro__title--form {
  margin-bottom: 37px;
}

.intro__description--form {
  width: 226px;
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-bottom: 66px;
  }
  .intro__title {
    margin-bottom: 164px;
  }
  .intro__title--catalog {
    margin-top: 40px;
    padding-left: 10px;
    font-size: 60px;
    line-height: 60px;
  }
  .intro__title--form {
    font-size: 60px;
    line-height: 60px;
    margin-top: 40px;
    padding-left: 50px;
    margin-bottom: 54px;
  }
  .intro__description--form {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    padding-left: 50px;
    margin-bottom: 66px;
  }
}

@media (min-width: $desktop-width) {
  .intro__title--catalog {
    margin-top: 55px;
    margin-bottom: 154px;
    padding-left: 0;
  }
  .intro__title--form {
    margin-top: 52px;
    padding-left: 0px;
  }
  .intro__description--form {
    padding-left: 0px;
  }
}
