.more-good__title{
 font-size: 16px;
 line-height: 20px;
 text-transform: uppercase;
 color: #111111;
}

.more-good__description{
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.more-good__button{
 background-color:#F2F2F2;
 color:#444444;
 /* padding: 20px 94px 20px 94px;*/

}

@media (min-width:$tablet-width){
  .more-good--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 323px;
    padding: 0px;

  }
}
@media (min-width:$desktop-width){
   width: 245px;
}
