.page-header {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	color: #000000;
	padding-top: 12px;
}

.page-header__logo {
	text-align: center;
}

.page-header__logo:hover {
	opacity: 0.8;
}

.page-header__logo:active {
	opacity: 0.6;
}

.page-header__logo-image {
	margin-bottom: 16px;
	width: 191px;
	height: 38px;
}

@media (min-width:$tablet-width) {
	.page-header {
		padding-top: 20px;
	}
	.page-header__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 84px;
		width: 192px;
	}
	.page-header__logo {
		width: 192px;
		padding: 0;
	}
	.page-header__logo-image {
		width: 173px;
		height: 58px;
	}
}

@media (min-width:$desktop-width) {
	.page-header {
		padding-top: 45px;
		z-index: 10;
	}
	.page-header__container {
		column-gap: 539px;
	}
	.page-header__logo {
		width: 202px;
	}
	.page-header__logo-image {
		padding-top: 9px;
		width: 202px;
		height: 59px;
	}
}
