.page-header{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: #000000;

}

.page-header__logo{
  text-align: center;
}

.page-header__logo:hover{
  opacity: 0.8;
}

.page-header__logo:active{
  opacity: 0.6;
}

.page-header__logo-image {
  margin-bottom: 16px;
  width: 191px;
  height: 38px;
}

.main-nav__list{
  margin: 0;
  padding: 0;
  list-style: none;
}


.main-nav--current{
  border-top: 1px solid #E6E6E6;
}

.main-nav__item{
  border-bottom: 1px solid #E6E6E6;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-top: 20px;
}

.main-nav__item a{
  color: #000000;
}

.main-nav__item,
.main-nav__item a{
  padding-bottom: 24px;
}


.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 24px;
  height: 18px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: transparent;
  }
}

.main-nav--closed .main-nav__toggle::before {
  display: none;
  content: "";
  position: absolute;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#000000, 30%);
  box-shadow:
  0 8px 0 0 fade(#000000, 30%),
  0 16px 0 0 fade(#000000, 30%);
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  left: 250px;
}
.main-nav--opened {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.main-nav--opened::before,
.main-nav--opened::after {
  content: "";
  position: absolute;
  top: 75px;
  left: 5px;
  width: 18px;
  height: 18px;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}


@media (min-width:$tablet-width){
  .page-header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 84px;
    width: 192px;
  }

  .main-nav__item--current a{
    border-bottom: 2px solid #68B738;
  }

  .main-nav__toggle{
    display: none;
  }

  .page-header__logo{
    width: 192px;
    padding: 0;
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;
  }

  .main-nav__list{
    display: flex;
    flex-wrap: wrap;
    width: 440px;
  }

  .main-nav{
    display: block;
  }

  .main-nav__item{
    padding-right: 24px;
    border: none;
  }
  .main-nav__item:nth-child(3n){
    padding-right: 0px;
  }

  .main-nav__item a{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
    display: block;
  }


}


@media (min-width:$desktop-width) {

  .page-header{
    z-index: 10;
  }

  .page-header__container{
    column-gap: 539px;
  }

  .main-nav__list{
    width: 483px;
  }

  .main-nav__item {
    padding-right: 34px;
    border: none;
  }

  .main-nav__item--current a{
    border-bottom:  2px solid #FFFFFF;
  }


  // .main-nav__item a{
  //   color: #FFFFFF;
  // }


  .page-header__logo{
    width: 202px;
  }

  .page-header__logo-image{
    width: 202px;
    height: 59px;
  }

  .main-nav__item .main-nav__link{
    color: #FFFFFF;
  }

}
