.page-footer{
  background: #F2F2F2;
}

.page-footer__title{
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
}

.page-footer__contacts{
  display: flex;
  justify-content: space-between;
}


.contacts__text{
  font-family: $font-second;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}


.social__list{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  list-style: none;
  margin:0px;
  padding:0px;

}

.social__item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.page-footer__copyright{
  display: flex;
  justify-content: space-between;
}

.social__logo{
  display: block;
}



@media (min-width: $tablet-width){

  .social{
    flex-grow: 1;
  }
  .page-footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

@media (min-width:$desktop-width){
  .page-footer__contacts{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #FFFFFF;
    /*POSITION*/
  }



}
