.product {
	// border-top: 1px solid #EBEBEB;
	margin-bottom: 37px;
}

.product__container {
	width: 142px;
	padding-bottom: 25px;
}

.product__img {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 138px;
	height: 112px;
}

.product__img-catalog {
	padding-top: 30px;
}

.product__img-catalog--3 {
	padding-top: 45px;
}

.product__img-catalog--5 {
	padding-top: 48px;
}

.product__img-catalog--7 {
	padding-top: 42px;
}

.product__img-catalog--2 {
	padding-top: 29px;
}

.product__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product__table-title {
	display: block;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #222222;
	padding-top: 17px;
	padding-bottom: 14px;
	width: 76px;
}

.product__description {
	font-family: $font-second;
	font-size: 12px;
	line-height: 16px;
	padding: 0px;
	color: #444444;
}

.product__description--left {
	text-align: left;
}

.product__description--right {
	text-align: right;
}

.product__table {
	width: 100%;
}

.product__button {
	font-size: 16px;
	line-height: 20px;
	width: 280px;
	padding: 10px 109px 10px 109px;
	color: #FFFFFF;
	background-color: #68B738;
	text-transform: uppercase;
}

@media (min-width:$tablet-width) {
	.product {
		background-color: #f2f2f2;
		padding-top: 8px;
		margin-bottom: 144px;
		padding-bottom: 50px;
	}
	.product__wrapper {
		display: flex;
		justify-content: center;
		width: 350px;
	}
	.product__container {
		text-align: center;
		padding-bottom: 39px;
		width: 251px;
	}
	.product__img-catalog {
		position: absolute;
		top: -85px;
		right: 2px;
		background-color: transparent;
	}
	.product__img-catalog--2 {
		padding-top: 8px;
	}
	.product__img-catalog--3,
	.product__img-catalog--7 {
		padding-top: 29px;
	}
	.product__img-catalog--5 {
		padding-top: 30px;
	}
	.product__img {
		position: relative;
		width: 161px;
		height: 142px;
	}
	.product__table {
		width: 100%;
		// width: 250px;
		border-collapse: collapse;
	}
	.product__table-title {
		padding-top: 10px;
		padding-left: 50px;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		width: 150px;
	}
	.product__description {
		font-size: 16px;
		line-height: 16px;
		padding-top: 8px;
		padding-bottom: 7px;
	}
	.product__item td {
		border-bottom: 1px solid #CDCDCD;
	}
	.product__button {
		width: 248px;
		padding: 9px 93px;
		margin-left: 50px;
	}
}

@media (min-width:$desktop-width) {
	.product {
		padding-top: 16px;
		margin-bottom: 119px;
		padding-bottom: 63px;
	}
	.product__img {
		width: 180px;
	}
	.product__wrapper {
		width: 245px;
	}
	.product__img-catalog {
		top: -89px;
		right: 8px;
	}
	.product__img-catalog--2 {
		top: -95px;
		left: 6px;
	}
	.product__table-title {
		padding-left: 9px;
		padding-top: 13px;
	}
	.product__button {
		width: 168px;
		padding: 10px 53px 10px 53px;
		margin-left: 39px;
		margin-right: 38px;
	}
	.product__container {
		padding-bottom: 43px;
		width: 166px;
	}
}
