.promo{
  color: #FFFFFF;
  text-transform: uppercase;
  background: rgba(104, 183, 56, 0.85);
}

.promo__title{
  padding: 0px;
  margin: 0px;
  padding-bottom:25px;
  font-size: 36px;
  line-height: 36px;
}

.promo__description{
 font-size: 14px;
 line-height: 14px;
}

.promo__button{
  background-color: #68B738;
  color: #FFFFFF;
  padding: 7px 44px 7px 44px;
  text-transform: uppercase;
}
