.promo {
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.promo__container {
  padding-top: 27px;
  padding-bottom: 152px;
  text-align: center;
  background-color: #63a73a;
  background-image: url("../img/promo-img.jpg");
  background-position: center;
  background-size: cover;
}

.promo__img {
  padding-top: 115px;
}

.promo__image {
  position: absolute;
  top: -274px;
  left: 50%;
  width: 280px;
  height: 270px;
  transform: translate(-50%);
}

.promo__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__button {
  display: block;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
  margin: 0;
  margin-top: 24px;
  padding: 9px 44px;
  border: none;
}

.promo__button:hover {
  background-color: #5eaa2f;
}

.promo__button:active {
  background-color: #5EAA2F;
  opacity: 0.3;
  border: none;
}

.promo__link {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .promo {
    padding-top: 29px;
    padding-bottom: 435px;
    padding-left: 40px;
  }

  .promo__container {
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .promo__description {
    font-size: 20px;
    line-height: 20px;
    padding-top: 40px;
    width: 283px;
    margin: 0;
  }

  .promo__title {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    padding-top: 10px;
    margin: 0;
    width: 414px;
  }

  .promo__title,
  .promo__description {
    padding-left: 67px;
    color: #000000;
    background-color: #ffffff;
  }

  .promo__button {
    font-family: "Oswald","Tahoma",sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-left: 61px;
    width: 244px;
    margin-top: 20px;
    padding: 17px 0;
  }

  .promo__wrapper {
    padding: 0;
    background-color: transparent;
    background-image: none;
    width: 414px;
  }

  .promo__image {
    top: -30px;
    left: -19px;
    transform: none;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  .promo__img {
    padding-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: relative;
    min-height: auto;
    margin: 0;
    padding-top: 90px;
    padding-bottom: 179px;
    margin-left: -3px;
  }

  .promo::before {
    content: "";
    position: absolute;
    top: -135px;
    left: 50%;
    width: 50%;
    height: 696px;
    z-index: -1;
    background-image: url("../img/promo-back-desktop.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #64a83b;
  }

  .promo__wrapper {
    padding-left: 85px;
  }

  .promo__description {
    width: 283px;
  }

  .promo__title,
  .promo__description {
    padding-left: 19px;
    color: #000000;
    background-color: transparent;
  }

  .promo__title {
    // padding-left: 79px;
    padding-top: 0;
  }

  .promo__image {
    top: -313px;
    right: 289px;
    left: auto;
    width: 552px;
    height: 499px;
    z-index: -1;
  }

  .promo__button {
    margin-top: 22px;
    margin-left: 10px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo::before {
      background-image: url("../img/promo-back-desktop-2x.png");
    }
  }
}
