.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 140px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 17px;
}

.social__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.social__item::before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  top: -17px;
  width: 31vw;
  height: 1px;
  background-color: #d9d9d9;
}

.social__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  top: -17px;
  width: 31vw;
  height: 1px;
  background-color: #d9d9d9;
}

.social__link--vk {
  display: block;
  width: 23px;
  height: 16px;
}

.social__link--insta {
  display: block;
  width: 16px;
  height: 16px;
}

.social__link--fs {
  display: block;
  width: 22px;
  height: 22px;
  fill: transparent;
  stroke: #666666;
}

.social__link--vk:hover,
.social__link--insta:hover,
.social__link--fs:hover {
  fill: #68B738;
}

.social__link--vk:active,
.social__link--insta:active,
.social__link--fs:active {
  opacity: 0.3;
  fill: #68B738;
}

@media (min-width: $tablet-width) {
  .social {
    flex-grow: 1;
  }

  .social__list {
    padding-top: 27px;
    padding-left: 34px;
    padding-bottom: 3px;
  }

  .social__item::before,
  .social__item::after {
    display: none;
  }

  .social__link--vk {
    width: 30px;
    height: 22px;
  }

  .social__link--insta {
    width: 23px;
    height: 23px;
  }

  .social__link--fs {
    display: block;
    margin-left: -21px;
    width: 28px;
    height: 33px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    padding-top: 26px;
    padding-left: 39px;
    padding-bottom: 10px;
  }
}
