.total__button-container{
  display: flex;
  justify-content: space-between;
  // width: 202px;
}

.total__toggle-button{
  font-family: Oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #000000;
  background-color: transparent;
}

.total__toggle-button--right{
  padding-left: 44px;
}
.total__toggle-button--left{
  padding-right: 39px;
}

.total__img-container{
  width: 311px;
  height: 232px;
  padding-bottom: 28px;
}


.total__slider{
  position: relative;
}

.total__slider::before{
  position: absolute;
  top: 4px;
  right: -42px;
  content: "";

  width: 84px;
  height: 14px;

  background-image: url(../img/slider-mobile.svg);
  background-repeat: no-repeat;

}



@media (min-width: $tablet-width){
  .total__img-container{
    padding-top: 40px;
    padding-bottom: 0px;
    width: 708px;
    height: 555px;
  }

  .total__slider::before{
    top: -2px;
    right: -217px;
    width: 428px;
    height: 34px;
    background-image: url(../img/slider-tablet.svg);
    background-repeat: no-repeat;

  }

  .total__toggle-button{
    font-size: 20px;
    line-height: 30px;
  }

  .total__toggle-button--right{
    padding-left: 78px;
  }
  .total__toggle-button--left{
    padding-right: 59px;
  }


}

@media (min-width: $desktop-width){
  .wrapper--total{
    display: grid;
    grid-template-columns: 570px 570px;
    grid-gap: 80px;
  }

  .total__img-container{
      padding-bottom: 100px;
  }
}
