.toggle__button-container {
	display: flex;
	justify-content: space-between;
	// width: 202px;
}

.toggle__button {
	font-family: Oswald;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	color: #000000;
	background-color: transparent;
}

.toggle__button--right {
	padding-left: 44px;
}

.toggle__button--left {
	padding-right: 39px;
}

.toggle__img-container {
	position: relative;
	width: 301px;
	height: 232px;
	padding-bottom: 37px;
}

.toggle__img--before {
	position: absolute;
	content: "";
	top: 6px;
	left: -4px;
}

.toggle__button-container {
	position: relative;
}

.toggle__button-container::before {
	content: "";
	position: absolute;
	top: 3px;
	right: 96px;
	width: 84px;
	height: 14px;
	border: 1px solid #cdcdcd;
	border-radius: 6px;
}

.toggle__button-container::after {
	content: "";
	position: absolute;
	top: 7px;
	right: 140px;
	width: 35px;
	height: 6px;
	background-color: #68b738;
	border-radius: 3px;
}

@media (min-width: $tablet-width) {
	.toggle {
		width: 708px;
		background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
	}
	.toggle__img-container {
		padding-top: 40px;
		padding-bottom: 0px;
		width: 708px;
		height: 555px;
	}
	.toggle__slider {
		position: relative;
	}
	.toggle__slider::before {
		position: absolute;
		content: "";
		top: 14px;
		right: -217px;
		width: 428px;
		height: 34px;
		background-image: url(../img/slider-line.png);
		background-repeat: no-repeat;
	}
	.toggle__button-container::after {
		content: "";
		position: absolute;
		left: 346px;
		top: 2px;
		width: 34px;
		height: 34px;
		border: 1px solid #cdcdcd;
		border-radius: 50%;
	}
	.toggle__button-container:hover::after {
		border: 1px solid #1111;
	}
	.toggle__button-container::before {
		content: "";
		position: absolute;
		left: 359px;
		top: 16px;
		width: 8px;
		height: 8px;
		background-color: #68b738;
		border-radius: 50%;
	}
	.toggle__img--before {
		position: absolute;
		content: "";
		top: 48px;
		left: 10px;
	}
	.toggle__button {
		font-size: 20px;
		line-height: 30px;
	}
	.toggle__button--right {
		padding-left: 78px;
	}
	.toggle__button--left {
		padding-right: 59px;
	}
}

@media (min-width: $desktop-width) {
	.toggle {
		width: 570px;
		padding-bottom: 75px;
	}
	.toggle__slider::before {
		top: 13px;
		right: -216px;
	}
	.toggle__button-container::after {
		top: 326px;
	}
	.toggle__button-container::before {
		top: 340px;
	}
	.toggle__img-container {
		height: 0px;
	}
	.toggle__img--before {
		left: -87px;
		top: -185px;
	}
	.toggle__button-container {
		padding-top: 330px;
	}
	.toggle__button--right {
		padding-left: 0px;
	}
	.toggle__button--left {
		padding-right: 5px;
	}
}
