.total{
  background-color:#EAEAEA;
}

.total__list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;

}
.total__title{
 font-size: 36px;
 line-height: 40px;
}

.total__description{
  font-family: $font-second;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.total__item{
  font-size: 24px;
  line-height: 24px;

  /*border: 1px solid #cdcdcd;
  border-radius: 4px;*/
}


.total__item--weight,
.total__item--time{
  font-family: $font-second;
  font-size: 12px;
  line-height: 12px;
  color: #444444;

}

.total__cost-item{
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.total__toggle{
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: $tablet-width){
  .total__info{
    display: flex;
    justify-content: space-between;

  }
  .total__item{
    padding-right:30px;
  }

  .total__cost-item{
    font-size: 20px;
    line-height: 20px;
  }

}




