.total {
  background-color: #eaeaea;
}

.total__list {
  list-style: none;
  display: flex;
  padding: 0;
}

.total__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 20px;
}

.total__description {
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 10px;
}

.total__item {
  position: relative;
  width: 124px;
  height: 56px;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.total__value {
  margin: 0;
  padding-top: 12px;
  text-align: center;
}

.total__item--left {
  margin-right: 29px;
}

.total__feature {
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
  top: 47px;
  left: 22px;
  position: absolute;
  z-index: 1;
  width: 59px;
  height: 13px;
  background-color: #eaeaea;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.total__cost {
  display: flex;
  padding-left: 46px;
  padding-bottom: 39px;
}

.total__cost-item {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 16px;
}

.total__cost-item--value {
  padding-left: 5px;
}

@media (min-width: $tablet-width) {
  .total {
    background-color: #ffffff;
  }

  .total__title {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    padding-top: 15px;
    padding-left: 0px;
    padding-bottom: 53px;
  }

  .total__description {
    font-family: "Arial", "Verdana", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0px;
  }

  .total__value {
    font-size: 30px;
    line-height: 37px;
  }

  .total__feature {
    font-size: 14px;
    line-height: 14px;
    width: 127px;
    height: 30px;
    top: 61px;
    left: 12px;
    padding-left: 4px;
    padding-right: 2px;
    background-color: #ffffff;
  }

  .total__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
  }

  .total__list {
    margin-left: 0px;
    padding-top: 30px;
  }

  .total__item {
    width: 162px;
    height: 72px;
    margin: 0;
    margin-right: 40px;
  }

  .total__cost {
    display: block;
    padding-top: 55px;
  }

  .total__cost-item {
    width: 174px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .total__cost-item--value {
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .total__title {
    padding-top: 15px;
    padding-left: 0px;
    padding-bottom: 68px;
  }

  .total__description {
    padding: 0;
    padding-left: 0px;
    margin-bottom: 68px;
    width: 436px;
    height: 96px;
  }

  .total__list {
    height: 75px;
    margin-top: 0;
    margin-bottom: 39px;
    margin-left: 0px;
    padding-top: 0px;
  }

  .total__item {
    width: 162px;
    height: 72px;
  }

  .total__feature {
    background-color: #f2f2f2;
  }

  .total__cost {
    display: flex;
    padding-top: 19px;
    padding-left: 0px;
  }

  .total__cost-item {
    padding: 0;
  }

  .total__info {
    width: 650px;
    padding-top: 80px;
    padding-bottom: 45px;
  }

  .total__cost-item--value {
    width: 90px;
    padding-left: 62px;
  }
}
