.wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .wrapper {
    width: 707px;
  }
  .wrapper--main-nav{
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: 1220px;
  }
  .wrapper--main-nav{
    width: auto;
  }

  .wrapper--direction {
    display: flex;
    justify-content: space-between;
  }

  /*padding-left:40px;
  padding-right:40px;*/

}
